{
  "parser": "@typescript-eslint/parser",

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  // prettier-ignore
  "plugins": [
    "@typescript-eslint",
    "import",
    "react",
    "react-hooks",
    "tailwindcss"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended"
  ],

  "rules": {
    "no-console": "off",
    "@typescript-eslint/no-empty-function": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "tailwindcss/classnames-order": "off",
    "import/no-cycle": "error",
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc" },
        "groups": ["builtin", "external", "unknown", "internal", "parent", "sibling", "index"]
      }
    ]
  }
}
